<%= form_for @patrol do |f| %>
	<%= f.date_select :patrol, { :order => [:day,:month,:year] }, { :class => 'span2' } %>
	
	<% @patrol.errors.full_messages.each do |msg| %>
		<div class="alert alert-error">
			<%= msg %>
		</div>
	<% end %>
	
	
	<%= f.submit "Create Patrol", :class => "btn btn-info" %>
<% end %>