<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Town Pastors Lowestoft</title>
  </head>
  <body>
    <table border="0" cellspacing="0" cellpadding="0" width="600">
      <tr>
        <td width="50">&nbsp;</td>
        <td width="500">
          <h1>Town Pastors Lowestoft</h1>
          <%= yield %>
        </td>
        <td width="50">&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
